/**********
/* ITEM COLORS */
$common: #b0c3d9;
$uncommon: #5e98d9;
$rare: #4b69ff;
$mythical: #8847ff;
$legendary: #d32ce6;
$immortal: #b28a33;
$arcana: #ade55c;
$ancient: #eb4b4b;
$season: #fff34f;
/**********
/* SITE BACKGROUND */
$dark-gray: #17161b;
/**********
/* SITE BASE COLORS */
$grey: #232226;
$light-gray: #6f6e6f;
$white: #ffffff;
$purple: #d32ce6;
$green: #49b32c;
$blue: #00cbfe;
$orange: #ff8b00;
