/**********
/* ITEM COLORS */
$common: #b0c3d9;
$uncommon: #5e98d9;
$rare: #4b69ff;
$mythical: #8847ff;
$legendary:#d32ce6;
$immortal:#b28a33;
$arcana: #ade55c;
$ancient: #eb4b4b;
$season: #fff34f;
/**********
/* SITE BACKGROUND */
$dark-gray: #17161B;
/**********
/* SITE BASE COLORS */
$grey: #232226;
$light-gray: #6F6E6F;
$white: #FFFFFF;
$purple: #D32CE6;
$green: #49B32C;
$blue: #00CBFE;
$orange: #FF8B00;
