body{
  background-color:$dark-gray;
  background-image: url(../assets/img/site-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;


}
main{
  flex-grow: 1;
}
.container{
  width: 1440px;
  padding: 0 49px;
  margin: 0 auto;
}
#app {
    font-family: Inter;
    // font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;

  }
  
