body{
  background:$dark-gray;
}
.container{
  max-width: 1440px;
  padding: 0 49px;
  margin: 0 auto;
}
#app {
    font-family: Inter;
    // font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

  }
  
