.dl-base-banner {
  padding: 70px 63px 32px;
  width: 100%;
  height: 270px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 17px;
  &-wrapper {
    width: 100%;
    padding: 0 5px;
  }

  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #ffffff;
  }
  &__text {
    flex-grow: 1;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 29px;
    color: #ffffff;
    width: 419px;
    span {
      color: $blue;
    }
    &--blue {
      span {
        color: $blue;
      }
    }
    &--orange {
      span {
        color: $orange;
      }
    }
    &--green {
      span {
        color: $green;
      }
    }
  }
  &__button {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 252px;
    height: 45px;
    justify-content: center;
    border-radius: 10px;
    border: none;
    position: relative;
    max-width: 253px;
    max-height: 45px;
  }
}

/*************************/
/*Баннер пополняй с умом*/
.dl-banner-replenish-wisely {
  background-image: url('@/assets/img/dl-banner-replenish-wisely/bg.png');
}

/*************************/
/*Баннер Тише, тут промокод*/
.dl-banner-promocode {
  background-image: url('@/assets/img/dl-banner-promocode/bg.png');
  &__socials-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__social {
    display: block;
    text-decoration: none;
    margin-right: 17px;
    img {
      width: 39px;
    }
  }
}

/*************************/
/*Баннер МАНЫ МНОГО НЕ БЫВАЕТ*/
.dl-banner-never-too-much-mana {
  background-image: url('@/assets/img/dl-banner-never-too-much-mana/bg.png');
}

/*******************/
/* Адаптив планшет */
@media (max-width: 1440px) {
  .dl-base-banner {
    padding: 31px 37px 18px;
    height: 160px;
    &__header {
      width: 100%;
      font-size: 30px;
      line-height: 36px;
    }
    &__text {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 3px;
      width: 209px;
    }
    &__button {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      max-width: 143px;
      max-height: 21px;
    }
  }
  .dl-banner-replenish-wisely,
  .dl-banner-replenish-wisely--personal {
    background-image: url('@/assets/img/dl-banner-replenish-wisely/bg_tablet.png');
  }
  .dl-banner-promocode {
    background-image: url('@/assets/img/dl-banner-replenish-wisely/bg_tablet.png');
    &__social {
      margin-right: 10px;
      img {
        width: 21px;
      }
    }
  }
  .dl-banner-never-too-much-mana {
    background-image: url('@/assets/img/dl-banner-replenish-wisely/bg_tablet.png');
  }
}

/*******************/
/* Адаптив мобилка */
@media (max-width: 833px) {
  .dl-base-banner {
    background-position: right bottom;
    padding: 25px;
    border-radius: 15px;
    height: 257px;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 10px;
    }
    &__header {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
    }
    &__button {
      font-size: 14px;
      line-height: 17px;
      max-width: 171px;
      max-height: 45px;
    }
  }
  .dl-banner-replenish-wisely {
    background-color: #1c2733;
    background-image: url('@/assets/img/dl-banner-replenish-wisely/bg_mobile.png');
    background-position: right -70px bottom -33px;
  }
  .dl-banner-replenish-wisely--personal {
    background-color: rgba(77, 44, 44, 0.3);
    background-image: url('@/assets/img/dl-banner-replenish-wisely/bg_mobile.png');
    background-position: right -70px bottom -33px;
  }
  .dl-banner-promocode {
    background-color: #1c2733;
    background-image: url('@/assets/img/dl-banner-replenish-wisely/bg_mobile.png');
    background-position: right -70px bottom -33px;
  }
  .dl-banner-never-too-much-mana {
    background-color: #1c2733;
    background-image: url('@/assets/img/dl-banner-replenish-wisely/bg_mobile.png');
    background-position: right -70px bottom -33px;
  }
}
