.dl-footer {
    color: $light-gray;
    display: flex;
    padding: 26px 0 89px;
    margin-top: 74px;
    position: relative;
    &::before {
        content: "";
        height: 1px;
        width: 100%;
        background-image: linear-gradient(to right, transparent, $orange, transparent);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &__links-row-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__links-row {
        display: flex;
        align-items: center;
    }
    &__link-top {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    &__link-middle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: inherit;
        margin: 0 6px;
    }
    &__payments {
        list-style: none;
        opacity: 0.5;
        display: flex;
        align-items: center;
        padding: 0;
    }
    &__payment {
        margin: 0 10px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
    &__logo {
        margin-bottom: 9px;
    }
    &__mail {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: inherit;
        text-decoration: none;
    }
    &__copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: $white;
        opacity: 0.3;
    }
}
@media (max-width: 1440px) {
    .dl-footer {
        flex-direction: column;
        padding: 35px 0 74px;
        &__links-row-wrap {
        }
        &__links-row {
        }
        &__link-top {
        }
        &__link-middle {
            margin-bottom: 6px;
        }
        &__payments {
        }
        &__payment {
        }
        &__info {
            align-items: center;
            flex-direction: column-reverse;
        }
        &__logo {
        }
        &__mail {
            order: 1;
            margin-bottom: 10px;
        }
        &__copyright {
            margin-bottom: 8px;
        }
    }
}
@media (max-width: 833px) {
    .dl-footer {
        flex-direction: column;
        padding: 32px 0 32px;
        &__links-row-wrap {
        }
        &__links-row {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__link-top {
        }
        &__link-middle {
            margin-bottom: 6px;
            white-space: nowrap;
            font-size: 13px;
            line-height: 16px;
        }
        &__payments {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__payment {
        }
        &__info {
            align-items: center;
            flex-direction: column-reverse;
        }
        &__logo {
        }
        &__mail {
            order: 1;
            margin-bottom: 10px;
        }
        &__copyright {
            margin-bottom: 8px;
        }
    }
}
