.dl-faq {
    &__header {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-transform: uppercase;

        color: $orange;
        margin-bottom: 33px;
    }
}
.dl-questions {
}
.dl-question {
    width: 100%;
    margin-bottom: 30px;
    &__text {
        background: #28262e;
        border-radius: 16px;
        padding: 18px 40px 18px 97px;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        width: 100%;
        color: #ffffff;
        position: relative;
        border: none;
    }
    &__svg {
        position: absolute;
        left: 33px;
        transition: all 1000ms ease;
        &--rotate {
            transform: rotate(-180deg);
            transition: all 1000ms ease;
        }
    }
    &__answer {
        padding: 33px 40px;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        color: #6f6e6f;
        height: 130px;

        &--show {
            display: block;
            transition: display 0.5s ease;
        }
    }
}
.answer-enter-active {
    transition: all 1s ease;
}
.answer-leave-active {
    transition: all 1s ease;
}
.answer-enter-from,
.answer-leave-to {
    padding: 0 40px;
    opacity: 0;
    height: 0;
}

@media (max-width: 1440px) {
    .dl-question {
        &__text {
            text-align: left;
            font-size: 22px;
            line-height: 27px;
        }
        &__answer {
            font-size: 14px;
            line-height: 17px;
            height: 200px;
        }
    }
    .answer-enter-from,
    .answer-leave-to {
        padding: 0 40px;
        opacity: 0;
        height: 0;
    }
}
@media (max-width: 833px) {
    .dl-question {
        &__text {
            font-size: 12px;
            line-height: 15px;
            padding: 18px 40px 18px 45px;
        }
        &__answer {
            font-size: 14px;
            line-height: 17px;
            height: 230px;
        }
        &__svg {
            width: 20px;
            left: 14px;
        }
    }
    .answer-enter-from,
    .answer-leave-to {
        padding: 0 40px;
        opacity: 0;
        height: 0;
    }
}
