.dl-lenta {
    display: flex;
    width: 100%;
    height: 80px;
    margin-bottom: 70px;
    overflow-x: clip;
    &__menu {
        width: 115px;
        height: 80px;
        position: relative;
        z-index: 2;
    }
    &__menu-item {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: $light-gray;
        opacity: 0.6;
        padding: 5px 31px;
        background: $dark-gray;
        border-bottom: 1px solid rgba(217, 217, 217, 0.25);
        border-top: 1px solid rgba(217, 217, 217, 0.25);
        &:last-child {
            border-bottom: none;
        }
        &:first-child {
            border-top: none;
        }
        svg {
            margin-right: 7px;
            path {
                fill: $light-gray;
            }
        }
        cursor: pointer;
        &--active {
            color: $orange;
            background: $grey;
            opacity: 1;

            svg {
                path {
                    opacity: 1;
                    fill: $orange;
                }
            }
        }
    }
}
.dl-drophistory {
    &__items {
        display: flex;
        height: 100%;
    }
}

.dl-drophistory-item {
    position: relative;
    height: 80px;
    width: 112px;
    margin-right: 1px;
    &:hover {
        .dl-drophistory-item__hover {
            display: flex !important;
        }
    }
    &__content {
        border-width: 1px 1px 5px 1px;
        border-style: solid;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        background-position: center;
        background-repeat: no-repeat;
        // display: none;
    }
    &__hover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: none;
        background-color: #232226;
        padding: 3px 6px;
    }
    &__user-info {
        display: flex;
        margin-top: auto;
        z-index: 5;
        text-decoration: none;
    }
    &__img-case {
        position: absolute;
        top: -7px;
        right: -1px;
        width: 106px;
        img {
            width: 100%;
        }
    }
    &__img-wrap {
        width: 25px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 4px;
        border-radius: 3px;
        img {
            width: 100%;
            border-radius: 3px;
            margin-right: 5px;
        }
    }
    &__user-name {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        text-transform: capitalize;
        color: #ffffff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-decoration: none;
        width: 77px;
    }
    &:not(.dl-drophistory-item--exs) {
        position: relative;
        z-index: 5;
    }
    &--exs {
        position: relative;
        border: 3px solid;
        border-image: linear-gradient(
                90deg,
                #ffa83f 0%,
                #ffef5b 35.94%,
                #ffbf48 58.33%,
                #f39019 66.15%,
                #ffe04c 91.67%,
                #f5eb5a 100%
            )
            30;
        &::before {
            content: "";
            display: block;
            width: 300px;
            height: 240px;
            background-image: url(../assets/img/dl-lenta/light.png);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: -96px;
            top: -77px;
            z-index: 1;
        }
        .dl-drophistory-item__content {
            box-shadow: inset 1px -10px 15px rgba(255, 214, 67, 0.3), inset -1px 10px 15px rgba(255, 214, 67, 0.3) !important;
            border-color: transparent !important;
            height: 100%;
            border-width: 0;
            z-index: 2;
            position: relative;
        }
    }
}
