.dl-personal-info{
    display: grid;
    grid-template-columns: repeat(auto-fill, 410px);
    justify-content: space-between;
    &__block{
        background: $grey;
        border-radius: 17px;
    }
}
