.dl-personal-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, 410px);
    justify-content: space-between;
    row-gap: 42px;
    margin-bottom: 56px;
    margin-top: 52px;
    &__block {
        background: $grey;
        border-radius: 17px;
        padding: 17px 20px;
        display: flex;
        align-items: center;
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        &-header {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

            color: $white;
        }
        &-text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            color: $light-gray;
        }
    }
}
.balance {
    &__img {
        margin-right: 29px;
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    &__currency {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        position: relative;
        padding-left: 35px;
        display: flex;
        align-items: center;
        &--rub {
            color: $green;

            &::before {
                content: "";
                background-image: url(../assets/img/dl-personal-info/rub.png);
                background-repeat: no-repeat;
                background-position: center;
                width: 47px;
                height: 55px;
                position: absolute;
                left: -8px;
            }
        }
        &--mana {
            color: #3bc1ee;
            &::before {
                content: "";
                background-image: url(../assets/img/base/mana.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 40px;
                height: 40px;
                position: absolute;
                left: -4px;
            }
        }
    }
    &__button {
        border-radius: 10px;
        width: 140px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        border: none;
    }
}
.lovely {
    &__content {
    }
    &__img {
        margin-left: auto;
        width: 100px;
        height: 100px;
    }
    &__button {
        width: 140px;
        height: 32px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        border: none;
    }
}
.drop {
    &__price {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;

        color: $green;
    }
    &__img {
        margin-left: auto;
        border: 4px solid $orange;
        border-radius: 7px;
        box-shadow: 0px 0px 24px 0px #ff0c0c;
    }
}
.partner {
    position: relative;
    &__button {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        width: 140px;
        height: 30px;
        border-radius: 10px;
        text-decoration: none;
    }
    &__content {
        padding: 9px 0px;
    }
    &__header {
        margin-bottom: 16px;
    }
    &::after {
        position: absolute;
        bottom: -46px;
        right: -32px;
        content: "";
        width: 262px;
        height: 198px;
        background-image: url(../assets/img/dl-personal-info/partner.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.trade {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;

    &__header {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;

        color: #ffffff;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        background: #0e0e0e;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #9d9d9d;
        padding: 9px 20px;
        border: navajowhite;
        flex-grow: 1;

        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
    &__question {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;

        color: #ffffff;
        span {
            color: $orange;
        }
    }
    &__button {
        border-radius: 10px;
        width: 158px;
        height: 35px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        color: #0e0e0e;
        border: none;
    }
}
.persona {
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__img {
        margin-right: 29px;
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        border-radius: 10px;
    }
    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 204px;
        white-space: nowrap;
        margin-bottom: 12px;
    }
    &__cases-count {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;

        color: #ffffff;
        span {
            color: $orange;
        }
    }
    &__link {
        margin-top: auto;
    }
    &__icon {
        width: 26px;
    }
}

@media (max-width: 1440px) {
    .dl-personal-info {
        grid-template-columns: repeat(auto-fill, 370px);
        &__block {
            background: $grey;
            border-radius: 17px;
            padding: 17px 20px;
            display: flex;
            align-items: center;
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
            &-header {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;

                color: $white;
            }
            &-text {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;

                color: $light-gray;
            }
        }
    }
    .trade {
        grid-column-start: 1;
        grid-column-end: 3;
        align-items: stretch;
        &__link {
            margin-top: 20px;
        }
    }
    .persona {
        &__name {
            max-width: 168px;
        }
    }
}
@media (max-width: 833px) {
    .dl-personal-info {
        grid-template-columns: repeat(auto-fill, 370px);
        &__block {
            background: $grey;
            border-radius: 17px;
            padding: 17px 20px;
            display: flex;
            align-items: stretch;
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
            &-header {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;

                color: $white;
            }
            &-text {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;

                color: $light-gray;
            }
        }
    }
    .trade {
        grid-column-start: 1;
        grid-column-end: 2;
        &__row {
            &--header {
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                height: 35px;
            }
        }
        &__header {
            font-size: 12px;
            line-height: 19px;
            margin-right: auto;
        }
        &__question {
            font-size: 11px;
            line-height: 13px;
            margin-right: auto;
        }
        &__button {
            height: 100%;
            width: 105px;
            margin-left: auto;
        }
    }
    .persona {
    }
}
