.dl-quests {
    min-height: 594px;
    background-image: url(@/assets/img/dl-quests/bg.png);
    background-repeat: no-repeat;
    background-position: bottom 200px center;
    margin-bottom: 37px;
    background-size: 1146px auto;
    &__wrap {
        // background-size: 100% auto;
        position: relative;
        min-height: 594px;
    }
}
.dl-quest {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    &:hover {
        .dl-quest__img-color {
            display: block;
        }
        .dl-quest__img-no-color {
            display: none;
        }
    }
    img {
        width: 100%;
    }
    &--one {
        width: 600px;
        height: 546px;
        left: 0;
        bottom: 52px;
    }
    &--two {
        width: 400px;
        height: 551px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 6;
    }
    &--three {
        width: 400px;
        height: 556px;
        right: 0;
        bottom: 10px;
    }
    &__img {
        &-color {
            display: none;
        }
        &-no-color {
        }
    }
}
@media (max-width: 1440px) {
    .dl-quest {
        &--one {
            width: 355px;
            height: 323px;
            bottom: 28px;
        }
        &--two {
            width: 244px;
            height: 336px;
        }
        &--three {
            width: 223px;
            height: 310px;
        }
        &__img {
            &-color {
                display: none;
            }
            &-no-color {
            }
        }
    }
}
@media (max-width: 833px) {
    .dl-quest {
        position: initial;
        img {
            width: 100%;
        }
        &--one {
            // width: 355px;
            // height: 323px;
            left: 0;
            bottom: 0;
        }
        &--two {
            // width: 100%;
            // height: auto;
        }
        &--three {
            // width: 100%;
            // height: auto;
        }
        &__img {
            &-color {
                display: none;
            }
            &-no-color {
            }
        }
    }
}
