.dl-raffles {
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 416px);
    //   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 59px;
  }
}
.dl-raffle {
  width: 416px;
  height: 155px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background-size: 405px 94px;
  background-repeat: no-repeat;
  background-position: center bottom -1px;
  padding: 0 0 21px 0;

  &__name {
    position: absolute;
    bottom: -3px;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    // color: #0CBCF5;
    text-align: center;
  }
  &__top {
    width: 100%;
    height: 100%;
    display: flex;
    background: #1c1b1f;
    border-radius: 30px;
    padding: 22px 25px;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    // border-bottom: 1px solid #0CBCF5;
    &:hover {
      background: #2e2d31;
      cursor: pointer;
    }
  }

  &__img-wrap {
    border-radius: 7px;
    width: 131px;
    height: 89px;
    background-color: burlywood;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__img-tools {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    color: $white;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    padding: 4px;
    top: 2px;
    left: 3px;
  }
  &__content {
    width: 202px;
    margin-left: auto;
  }
  &__item-name-wrap {
    position: relative;
    margin-bottom: 3px;
    .tooltip {
      display: none;

      background: rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      width: 155px;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: #232226;
      position: absolute;
      padding: 10px 12px;
      text-align: center;
      &::before {
        content: '';
        width: 0px;
        height: 0px;
        border-top: 0;
        border-bottom: 6px solid rgba(217, 217, 217, 0.8);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        position: absolute;
        top: -6px;
        left: 53px;
      }
    }
    &:hover {
      .tooltip {
        display: flex;
      }
    }
  }
  &__item-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $white;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__info {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: $light-gray;
    margin-bottom: 9px;
  }
  &__time {
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: $white;
  }
  &__clock {
    margin-right: 11px;
  }
}
.dl-raffle.everyday {
  background-image: radial-gradient(rgba(0, 203, 254, 0.7), transparent 80%);
  .dl-raffle__name {
    color: $blue;
  }
  .dl-raffle__top {
    border-bottom: 1px solid $blue;
  }
  .dl-raffle__clock {
    stroke: $blue;
    path {
      fill: $blue;
    }
  }
}
.dl-raffle.everyweek {
  background-image: radial-gradient(rgba(211, 44, 230, 0.7), transparent 80%);
  .dl-raffle__name {
    color: $purple;
  }
  .dl-raffle__top {
    border-bottom: 1px solid $purple;
  }
  .dl-raffle__clock {
    stroke: $purple;
    path {
      fill: $purple;
    }
  }
}
.dl-raffle.everymonth {
  background-image: radial-gradient(rgba(73, 179, 44, 0.7), transparent 80%);
  .dl-raffle__name {
    color: $green;
  }
  .dl-raffle__top {
    border-bottom: 1px solid $green;
  }
  .dl-raffle__clock {
    stroke: $green;
    path {
      fill: $green;
    }
  }
}

/********************************/
/**********Адаптив планшет*******/
@media (max-width: 1440px) {
  .dl-raffles {
    grid-template-columns: repeat(auto-fill, 244px);
  }
  .dl-raffle {
    width: 244px;
    height: 97px;
    background-size: 300px 77px;
    background-position: center bottom -1px;
    padding: 0 0 10px 0;
    &__bottom {
      width: 259px;
      height: 77px;
      top: 18px;
    }
    &__top {
      padding: 14px 16px;
    }
    &__content {
      width: 130px;
    }
    &__img-wrap {
      width: 84px;
      height: 57px;
    }
    &__img-tools {
      font-size: 7px;
      line-height: 8px;
    }
    &__item-name {
      font-size: 12px;
      line-height: 15px;
    }
    &__info {
      font-size: 8px;
      line-height: 10px;
    }
    &__time {
      font-size: 10px;
      line-height: 12px;
    }
    &__clock {
      width: 14px;
      height: 14px;
    }
    &__name {
      font-size: 9px;
      line-height: 11px;
    }
  }
}

/********************************/
/**********Адаптив мобилка*******/
@media (max-width: 833px) {
  .dl-raffles {
    // display: block;
    // grid-template-columns: none;
    grid-template-columns: repeat(auto-fill, 100%);
    .agile {
      &__dots {
        @include dl-agile-dots;
        margin: 34px auto 0;
        bottom: 26px;
      }
      &__dot {
        @include dl-agile-dot;
      }
    }
  }
  .dl-raffle {
    width: 100%;
    height: 129px;
    overflow: visible;
    &__bottom {
      width: 345px;
      height: 103px;
      top: 24px;
    }
    &__top {
      height: 116px;
    }
    &__img-wrap {
      width: 84px;
      height: 57px;
    }
    &__name {
      position: relative;
      bottom: auto;
      justify-content: center;
    }
  }
}
