.dl-slider {
  text-transform: uppercase;
  overflow: hidden;
  height: 607px;
  order: -1;
  .agile {
    &__nav-button {
      border: none;
      color: #fff;
      cursor: pointer;
      height: 100%;
      position: absolute;
      top: 0;
      transition-duration: 0.3s;
      width: 80px;
      background: transparent no-repeat center;
      background-size: 30px;
      font-size: 0;
      opacity: 0;
      &:hover {
        opacity: 0.5;
      }
      &--prev {
        left: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      }
      &--next {
        right: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      }
    }
    &__dots {
      @include dl-agile-dots;
      margin: 0 auto;
      position: absolute;
      bottom: 25px;
      &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(
          to right,
          transparent,
          $orange,
          transparent
        );
        height: 2px;
        bottom: -15px;
        left: 0;
        right: 0;
      }
    }
    &__dot {
      @include dl-agile-dot;
    }
  }
}
.dl-slide {
  width: 100%;
}
/***Стили для  слайда Получи подарок***/
.dl-slide-get-gift {
  text-transform: uppercase;
  background-image: url('@/assets/img/dl-slider/dl-slider1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__wrapper {
    margin: 127px auto 170px 46.3%;
    width: 572px;
  }
  &__head {
    color: $white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 86px;
    line-height: 83.2%;
    text-align: center;
    & span {
      font-size: 73px;
    }
  }
  &__descr {
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 97.2%;
    color: $orange;
    margin: 42px 0 24px;
    display: flex;
    justify-content: center;
  }
  &__btn {
    width: 368px;
    height: 62px;
  }
}
/*** Конец стилей для Получи подарок***/

@media (max-width: 1440px) {
  .dl-slider {
    height: 382px;
    .agile {
      &__dots {
        bottom: 21px;
        &::after {
          bottom: -15px;
        }
      }
    }
  }
  .dl-slide-get-gift {
    &__wrapper {
      margin: 66px auto 101px 60%;
      width: 208px;
    }
    &__head {
      font-weight: 800;
      font-size: 46px;
      line-height: 97.2%;
      & span {
        font-size: 39px;
      }
    }
    &__descr {
      font-weight: 600;
      font-size: 21px;
      line-height: 97.2%;
    }
    &__btn {
      width: 208px;
      height: 35px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media (max-width: 833px) {
  .dl-slider {
    height: 407px;
  }
  .dl-slide-get-gift {
    &__wrapper {
      margin: 75px auto 120px;
      width: 226px;
    }
    &__head {
      font-size: 50px;
      & span {
        font-size: 42px;
      }
    }
    &__descr {
      font-size: 23px;
    }
    &__btn {
      width: 208px;
      height: 35px;
      font-size: 13px;
      line-height: 16px;
    }
  }
}
