.dl-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.dl-social {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 4px;
}
