.dl-trust {
    &__wrap {
        background-image: url(../assets/img/dl-trust/bg.png);
        width: 100%;
        height: 338px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 30px 214px 24px 334px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            height: 167px;
            width: 170px;
            left: -15px;
            top: 59px;
            border-radius: 10px;
            background-color: rgba(106, 22, 38, 0.5);
            background-repeat: no-repeat;
            filter: blur(50px);
            position: absolute;
            z-index: 1;
        }
        &::after {
            content: "";
            height: 167px;
            width: 170px;
            left: -15px;
            bottom: 59px;
            border-radius: 10px;
            background-color: rgba(37, 34, 160, 0.23);
            background-repeat: no-repeat;
            filter: blur(50px);
            position: absolute;
            z-index: 1;
        }
    }
}
@media (max-width: 1440px) {
    .dl-trust {
        &__wrap {
            background-image: url(../assets/img/dl-trust/bg_tablet.png);
            padding: 25px 77px 49px 242px;
            height: 217px;
        }
    }
}
@media (max-width: 833px) {
    .dl-trust {
        &__wrap {
            background-image: url(../assets/img/dl-trust/bg_mobile.png);
            padding: 105px 36px 105px 186px;
            height: 608px;
        }
    }
}
