.dl-contacts {
    color: $white;
    p {
        line-height: 25px;
    }
    &__h2 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__vk {
        margin-top: 40px;
        a {
            color: $orange;
        }
    }
}
