.dl-button {
  border-radius: 10px;
  background-color: $orange;
  color: $grey;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  &:hover {
    background-image: linear-gradient(216.36deg, #ff8b00 21.2%, #e8cb63 88.03%);
  }
  &:active {
    background-image: none;
  }
  &--green {
    color: $white;
    background-color: $green;
    &:hover {
      background-image: linear-gradient(216.36deg, #49b32c 21.2%, #bae37d 88.03% /*,
        #ebff03 88.03%*/);
    }
    &:active {
      background-image: none;
    }
  }
  &--blue {
    color: $white;
    background-color: $blue;
    &:hover {
      background-image: linear-gradient(216.36deg, #0bc3ff 21.2%, #a9e9da 88.03%);
    }
    &:active {
      background-image: none;
    }
  }
  &--orange {
    color: $grey;

    background: $orange;

    &:hover {
      background-image: linear-gradient(216.36deg, #ff8b00 21.2%, #e8cb63 88.03%);
    }
    &:active {
      background-image: none;
    }
  }
}
