.dl-stat{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    text-transform: lowercase;
    position: relative;

    &--online{
        width: 139px;
        padding: 0 34px;
    }

    &__icon{
        position: absolute;
        left: -6px;
    }
    &__content{
        width: 100%;
        position: relative;

    }
    &__count{
        color: $orange; 
        padding-left: 21px;
        font-size: 21px;
        line-height: 22px;
    }
    &__name{
        color: $white;
        line-height: 11px;
        font-size: 17px;
    }

}
.dl-stat--trust{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 60px;
    width: 210px;
    margin-left: 61px;
    .dl-stat__content {
        width: 100%;
        position: relative;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dl-stat__icon{
        left: -60px;
        width: 40px;
        height: 40px;
        
    }
    .dl-stat__count{
        padding: 0;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        color: $white;
    }
    .dl-stat__name{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $white;
    }

    svg{
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
    }
}