.dl-logo {
    width: 89px;
    height: 46px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    &__img {
        width: 89px;
    }
}
